{% extends "main.html" %}
{% block content %}
	<div class="row top-menu main-header">
		<div class="col-md-10">Catalog App</div>
		<div class="col-md-2 text-right">
			<a href="{{url_for('showLogin')}}">Click here to Login</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul>
						{% for message in messages %}
							 <li> <strong> {{ message }} </strong> </li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
		</div>
	</div>

	<div class="row">
	<div class="col-md-3">
	<div class="col-md-10 catalog-header">Categories</div>
	{% for category in categories %}
		<a href="{{url_for('showItems', category_id=category.id, category_name=category.name)}}">
				<div class="col-md-1"></div>
				<div class="col-md-10 catalog-list" style="clear: both">
					<h3>{{category.name}}</h3>
				</div>
				<div class="col-md-1"></div>
		</a>
	{% endfor %}
	</div>

	<div class="col-md-9">
	{% if items|count > 1 %}
		<div class="col-md-10 item-header">{{category.name}} items ({{items|count}} items)</div>
	{% else %}
		<div class="col-md-10 item-header">{{category.name}} items ({{items|count}} item)</div>
	{% endif %}
	{% if items !=[] %}
		{% for i in items %}
			<a href="{{url_for('displayItem', category_id=category.id, category_name=category.name, item_name=i.name)}}">
			<div class="col-md-1"></div>
			<div class="col-md-10 catalog-list" style="clear: both">
				<h3>{{i.name}}</h3>
			</div>
			<div class="col-md-1"></div>
			</a>
		{% endfor %}
	{% endif %}
	</div>
	</div>
{% endblock %}